<!DOCTYPE html>
<html>
<head>
    <title>文件管理器</title>
    <#include "/header.html">
    <link href="${request.contextPath}/statics/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="${request.contextPath}/statics/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="${request.contextPath}/statics/hplus/css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
    <link href="${request.contextPath}/statics/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
    <style>
        .file-box {
            float: left;
            width: 25%;
            display: inline-block;
        }
        .image {
            height: 150px !important;
            overflow: hidden;
        }
    </style>
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content" id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="file-manager">
                            <h5>显示：<a class="file-control active">{{current.name}}</a></h5>
                            <div class="hr-line-dashed"></div>
                            <button class="btn btn-primary btn-block" @click="goUploadFileView()" id="uploadFile">上传文件</button>
                            <div class="hr-line-dashed"></div>
                            <button class="btn btn-primary btn-block" @click="goCreateFileView()" id="createFile">创建目录</button>
                            <div class="hr-line-dashed"></div>
                            <button class="btn btn-primary btn-block" @click="goReNameDirView()" id="reNameDir">重命名</button>
                            <div class="hr-line-dashed"></div>
                            <h5>文件夹</h5>
                            <ul class="folder-list" style="padding: 0">
                                <li v-for="item in items">
                                    <a @click="clickFile(item.type,item.name)"><i class="fa fa-folder"></i>{{item.name}}</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 animated fadeInRight">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="file-box" v-if="files===null || files.length===0">
                            <div class="file">
                                <a>
                                    <span class="corner"></span>
                                    <div class="icon"><i class="fa fa-file"></i></div>
                                </a>
                                <a><div class="file-name">{{current.name}}里面什么都没有<br/></div></a>
                            </div>
                        </div>
                        <div class="file-box" v-for="file in files">
                            <div class="file" v-if="current.type == 2">
                                <a @click="seeFileView(file.id)">
                                    <span class="corner"></span>
                                    <div class="image">
                                        <img v-bind:src="'http://localhost:8012/disk/'+ file.originalName" alt="image" class="img-responsive" style="width: 100%;height: 100%;">
                                    </div>
                                </a>
                                <a @click="goUpdateFileView(file.id,file.originalName)">
                                    <div class="file-name">
                                        <span style="display: block;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;">{{file.originalName}}</span>
                                        <br/>
                                        <small>{{file.opTime}}</small>&nbsp;&nbsp;
                                        <br>
                                        <small>文件大小：{{file.length}}</small>
                                    </div>
                                </a>
                            </div>

                            <div class="file" v-else-if="current.type == 3">
                                <a @click="seeFileView(file.id)">
                                    <span class="corner"></span>
                                    <div class="icon">
                                        <i class="img-responsive fa fa-film"></i>
                                    </div>
                                </a>
                                <a @click="goUpdateFileView(file.id,file.originalName)">
                                    <div class="file-name">
                                        <span style="display: block;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;">{{file.originalName}}</span>
                                        <br/>
                                        <small>{{file.opTime}}</small>&nbsp;&nbsp;
                                        <br>
                                        <small>文件大小：{{file.length}}</small>
                                    </div>
                                </a>
                            </div>

                            <div class="file" v-else-if="current.type == 4">
                                <a @click="seeFileView(file.id)">
                                    <span class="corner"></span>
                                    <div class="icon">
                                        <i class="fa fa-music"></i>
                                    </div>
                                </a>
                                <a @click="goUpdateFileView(file.id,file.originalName)">
                                    <div class="file-name">
                                        <span style="display: block;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;">{{file.originalName}}</span>
                                        <br/>
                                        <small>{{file.opTime}}</small>&nbsp;&nbsp;
                                        <br>
                                        <small>文件大小：{{file.length}}</small>
                                    </div>
                                </a>
                            </div>

                            <div class="file" v-else>
                                <a @click="seeFileView(file.id)">
                                    <span class="corner"></span>
                                    <div class="icon"><i class="fa fa-file"></i></div>
                                </a>
                                <a @click="goUpdateFileView(file.id,file.originalName)">
                                    <div class="file-name">
                                        <span style="display: block;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;">{{file.originalName}}</span>
                                        <br/>
                                        <small>{{file.opTime}}</small>&nbsp;&nbsp;
                                        <br>
                                        <small>文件大小：{{file.length}}</small>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div v-show="showCreateDir" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <input type="hidden" class="form-control" v-model="sysDisk.id"/>
                <div class="col-sm-2 control-label">目录名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="sysDisk.name" placeholder="目录名"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
    <div v-show="isUpdateFile" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group">
                <input type="hidden" class="form-control" v-model="fe.id"/>
                <div class="col-sm-2 control-label">文件名</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" v-model="fe.originalName" placeholder="文件名"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="updateFile" value="修改"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="delFile" value="删除"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="downFile" value="下载"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="${request.contextPath}/statics/layer/layer.js?v=2.1.4"></script>
<script src="${request.contextPath}/statics/hplus/js/bootstrap.min.js?v=3.3.6"></script>
<script src="${request.contextPath}/statics/js/modules/front/disk.js?_${.now?long}"></script>
</body>
</html>
