<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件管理器</title>
    <#include "/header.html">
    <link href="${request.contextPath}/statics/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="${request.contextPath}/statics/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="${request.contextPath}/statics/hplus/css/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome.min.css">
    <link href="${request.contextPath}/statics/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
    <div class="wrapper wrapper-content" id="rrapp" v-cloak>
        <div v-show="showList">
           <div class="row">
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="file-manager">
                            <h5>显示：<a class="file-control active">{{current}}</a></h5>

                            <div class="hr-line-dashed"></div>
                            <button class="btn btn-primary btn-block" @click="uploadFile()">上传文件</button>
                            <div class="hr-line-dashed"></div>
                            <button class="btn btn-primary btn-block" @click="createFile()">创建目录</button>
                            <div class="hr-line-dashed"></div>
                            <h5>文件夹</h5>
                            <ul class="folder-list" style="padding: 0">
                                <li v-for="item in types">
                                    <a @click="clickFile(item.type,item.name)"><i class="fa fa-folder"></i>{{item.name}}</a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 animated fadeInRight">
                <div class="row">
 				<div class="col-sm-12">
                	  <div class="file-box" v-for="file in files">
                            <div class="file">
                                <a @click="see(file.url)">
                                    <span class="corner"></span>
                                    <div class="icon"><i class="fa fa-file"></i></div>
                                </a>
                                <a @click="delFile(file.id)">
                                <div class="file-name">{{file.name}}<br/>
                                    <small>添加时间：{{file.time}}</small>&nbsp;&nbsp;
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        <div v-show="showCreateDir" class="panel panel-default">
            <div class="panel-heading">{{title}}</div>
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-2 control-label">目录名</div>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="file.name" placeholder="目录名"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2 control-label"></div>
                    <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                    &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
                </div>
            </form>
        </div>
    </div>


    <script src="${request.contextPath}/statics/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="${request.contextPath}/statics/hplus/js/bootstrap.min.js?v=3.3.6"></script>
    <script>
        $(document).ready(function(){$(".file-box").each(function(){animationHover(this,"pulse")})});
    </script>
    <script src="${request.contextPath}/statics/js/modules/front/disk.js?_${.now?long}"></script>
</body>
</html>
