<!DOCTYPE html>
<html>
<head>
    <title>分享表</title>
		<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
			<#if shiro.hasPermission("front:share:delete")>
            <a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
														                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="share.fromUserId" placeholder="用户ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="share.fromUserName" placeholder="用户名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">被关注用户ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="share.toUserId" placeholder="被关注用户ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">用户名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="share.toUserName" placeholder="用户名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">被关注用户ID</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="share.fileId" placeholder="被关注用户ID"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">文件名</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="share.fileName" placeholder="文件名"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">过期时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="share.expiredTime" placeholder="过期时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">是否有效</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="share.isValid" placeholder="是否有效"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">登录者</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="share.createUser" placeholder="登录者"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">登录时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="share.createTime" placeholder="登录时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">更新者</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="share.opUser" placeholder="更新者"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">更新时间</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="share.opTime" placeholder="更新时间"/>
                        </div>
                    </div>
											                    <div class="form-group">
                        <div class="col-sm-2 control-label">版本号</div>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" v-model="share.lastVer" placeholder="版本号"/>
                        </div>
                    </div>
							            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="${request.contextPath}/statics/js/modules/front/share.js?_${.now?long}"></script>
</body>
</html>
