<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件上传</title>
    <link href="${request.contextPath}/statics/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="${request.contextPath}/statics/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="${request.contextPath}/statics/hplus/css/animate.min.css" rel="stylesheet">
    <link href="${request.contextPath}/statics/hplus/css/plugins/basic.css" rel="stylesheet">
    <link href="${request.contextPath}/statics/hplus/css/plugins/dropzone.css" rel="stylesheet">
    <link href="${request.contextPath}/statics/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>文件上传</h5>
                </div>
                <div class="ibox-content">
                    <form id="my-awesome-dropzone" class="dropzone" action="http://www.zi-han.net/theme/hplus/form_file_upload.html#">
                        <div class="dropzone-previews"></div>
                        <button type="submit" class="btn btn-primary pull-right">提交</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${request.contextPath}/statics/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="${request.contextPath}/statics/hplus/js/bootstrap.min.js?v=3.3.6"></script>
<script src="${request.contextPath}/statics/hplus/js/plugins/dropzone.js"></script>
<script>
    $(document).ready(function(){Dropzone.options.myAwesomeDropzone={autoProcessQueue:false,uploadMultiple:true,parallelUploads:100,maxFiles:100,init:function(){var myDropzone=this;this.element.querySelector("button[type=submit]").addEventListener("click",function(e){e.preventDefault();e.stopPropagation();myDropzone.processQueue()});this.on("sendingmultiple",function(){});this.on("successmultiple",function(files,response){});this.on("errormultiple",function(files,response){})}}});
</script>
</body>
</html>
