<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>easyUploader</title>
    <link rel="stylesheet" href="${request.contextPath}/statics/hplus/css/upload.css">
    <style>
        html * {
            margin: 0;
            padding: 0;
        }
        .wrapper {
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <div id="uploader"></div>
</div>

<script src="${request.contextPath}/statics/hplus/js/easyUploader.jq.js"></script>
<script>
    var uploader = easyUploader({
        id: "uploader",
        accept: '.jpg,.png,.doc,.docx',
        action: '../../front/disk/uploadFile',
        dataFormat: 'formData',
        contentType: 'application/x-www-form-urlencoded',
        dataType: 'json',
        crossDomain: true,
        maxCount: 10,
        maxSize: 3,
        multiple: true,
        data: null,
        beforeUpload: function(file, data, args) {
            /* dataFormat为formData时配置发送数据的方式 */
            /*data.append('token', '387126b0-7b3e-4a2a-86ad-ae5c5edd0ae6TT');
            data.append('otherKey', 'otherValue');*/
        },
        onChange: function(fileList) {
            /* input选中时触发 */
        },
        onRemove: function(removedFiles, files) {
            console.log('onRemove', removedFiles);
        },
        onSuccess: function(res) {
            console.log('onSuccess', res);
            /* 通过实例的files熟悉可以访问上传文件 */
            var files = uploader.files;
            console.log('files', files);
        },
        onError: function(err) {
            console.log('onError', err);
        },
    });
</script>
</body>
</html>
