<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ECHarts</title>
    <link href="${request.contextPath}/statics/hplus/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="${request.contextPath}/statics/hplus/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="${request.contextPath}/statics/hplus/css/animate.min.css" rel="stylesheet">
    <link href="${request.contextPath}/statics/hplus/css/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-12">
        <h1>数据大盘</h1>
    </div>

</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>折线图</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-line-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>柱状图</h5>
                </div>
                <div class="ibox-content">

                    <div class="echarts" id="echarts-bar-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>散点图</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-scatter-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>K线图</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-k-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>饼状图</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-pie-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>雷达图</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-radar-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>和弦图</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-chord-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>仪表盘</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-gauge-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>漏斗图</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-funnel-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>力导向布局图</h5>
                </div>
                <div class="ibox-content">
                    <div class="echarts" id="echarts-force-chart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>中国地图</h5>
                </div>
                <div class="ibox-content">
                    <div style="height:600px" id="echarts-map-chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${request.contextPath}/statics/hplus/js/jquery.min.js?v=2.1.4"></script>
<script src="${request.contextPath}/statics/hplus/js/bootstrap.min.js?v=3.3.6"></script>
<script src="${request.contextPath}/statics/hplus/js/echarts-all.js"></script>
<script src="${request.contextPath}/statics/hplus/js/content.min.js?v=1.0.0"></script>
<script src="${request.contextPath}/statics/hplus/js/echarts-demo.min.js"></script>
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>
</html>

